.navabar{
    display: flex;
    justify-content: space-between;
}
.web{
    width: 580px;
}

.plant{
    display: flex;
    margin: 10%;
}
.pic{
    display: flex;
    gap: 10px;
}
.flower{
   display: flex;
   margin-left: 10%;
   gap: 10px;

}
.sale{
    display: flex;
}
.blom{
    display: flex;
}
.dis{
    display: flex;
}
.mom{
    display: flex;
    margin-left: 10%;
}
.sal{
    display: flex;
    margin-left: 10%;
    gap: 50px;
}
.Auc{
    display: flex;
    gap: 20px;
}
.gap{
    display: flex;
}
.enim{
    display: flex;
    margin-left: 10%;
}
.product{
    text-align: center;
}
.omo{
    display: flex;
    margin-left:10% ;
    gap: 10px;
}
.car{
    text-align: center;
}
.spring{
    margin: 10%;
    gap: 20px;
}
.lobo{
    display: flex;
    margin-left: 10%;
    gap: 20px;
}
.grap{
    display: flex;
    margin-left: 10%;
    gap: 20px;
}
.dolo{
    display: flex;
    margin-left: 10%;
    gap: 20px;
}
.nut{
    display: flex;
    margin-left:10% ;
    gap: 20px;
}
.blog{
    margin: 10%;
}
.two{
    display: flex;
    margin-left: 10%;
    gap: 20px;
}
.love{
    text-align: center;
}
.meta{
    margin-left: 10%;
    gap: 100px;
    
}
.color{
    text-align: center;
}
.quick{
    display: flex;
    margin-left: 10%;
    gap: 30px;
}
.bob{
    overflow-x: hidden;
    margin: 0;
    font-size: large;
}
@media screen and (min-width:280px) and (max-width:500px){
    .navabar{
        flex-wrap: wrap;
        grid-template-columns: auto;
    }
    .web{
        flex-wrap: wrap;
        grid-template-columns: auto;
        width: 50px;
    }
    
    .plant{
        flex-wrap: wrap;
        grid-template-columns: auto;
    }
    .pic{
        flex-wrap: wrap;
        grid-template-columns: auto;
    
        
    }
    .flower{
       flex-wrap: wrap;
       grid-template-columns: auto;
       margin-left: 10%;
    
    }
    .sale{
        flex-wrap: wrap;
        grid-template-columns: auto;
    }
    .blom{
        flex-wrap: wrap;
        grid-template-columns: auto;
    }
    .dis{
        flex-wrap: wrap;
        grid-template-columns: auto;
    }
    .mom{
        flex-wrap: wrap;
        grid-template-columns: auto;
    }
    .sal{
        flex-wrap: wrap;
        grid-template-columns: auto;
        margin-left: 10%;
        gap: 50px;
    }
    .Auc{
        flex-wrap: wrap;
        grid-template-columns: auto;
        gap: 20px;
    }
    .gap{
        flex-wrap: wrap;
        grid-template-columns: auto;
    }
    .enim{
        flex-wrap: wrap;
        grid-template-columns: auto;
        margin-left: 10%;
    }
    .product{
        flex-wrap: wrap;
        grid-template-columns: auto;
    }
    .omo{
        flex-wrap: wrap;
        grid-template-columns: auto;
        margin-left:10% ;
        gap: 10px;
    }
    .car{
        flex-wrap: wrap;

    }
    .spring{
        margin: 10%;
    }
    .lobo{
        flex-wrap: wrap;
        grid-template-columns: auto;
        margin-left: 10%;
    }
    .grap{
        flex-wrap: wrap;
        grid-template-columns: auto;
        margin-left: 10%;
    }
    .dolo{
        flex-wrap: wrap;
        grid-template-columns: auto;
        margin-left: 10%;
    }
    .nut{
        flex-wrap: wrap;
        grid-template-columns: auto;
        margin-left:10% ;
        gap: 20px;
    }
    .blog{
        margin: 10%;
    }
    .two{
        flex-wrap: wrap;
        grid-template-columns: auto;
        margin-left: 10%;
        gap: 20px;
    }
    .love{
        text-align: center;
    }
    .meta{
        margin-left: 10%;
        gap: 100px;
        
    }
    .color{
        text-align: center;
    }
    .quick{
        flex-wrap: wrap;
        margin-left: 10%;
        gap: 30px;
    }
    .bob{
        overflow-x: hidden;
        margin: 0;
    } 
    .web{
        width: 100px;
    }
    .cap{
        width: 100px;
    }
    .img2{
        width: 100px;
    }
}
   